<div class="fluid-container">
  <!-- test -->
  
  <!-- header section start -->
  <app-top-nav></app-top-nav>
  <div class="row relative">
  <img class="nav-img2" src="/assets/images/logo/CEL.svg" alt="">

  <div style=" position: absolute; top: 63px; width: 200px; height: 100%; left: -160px;">
   <img width="600px" src="/assets/video/cel.gif" alt="">
  </div>
 
  <div class="col l12 m12 s12 bg-2 over-h relative">
    <div class="row relative">
      <div class="col l12 m12 s12 relative center">
        <ul class="ul-top-costum center">
          <li class="center-algin"><a (click)="Ycolor()" [routerLink]="['/project']" ><h5 class="h-top">Project</h5></a></li>
          <li class="center-algin"><a  (click)="Wcolor()" [routerLink]="['/product']"><h5 class="h-top">product</h5></a></li>
          <li class="center-algin"><a (click)="Ocolor()" [routerLink]="['/Team']"><h5 class="h-top">team</h5></a></li>
          <li class="center-algin"><a (click)="Bcolor()" [routerLink]="['/About-Us']"><h5 class="h-top">about us</h5></a></li>

        </ul>
      </div>
    </div>
    <img class="nav-img" src="/assets/images/logo/toperBg{{color}}.svg" alt="">
    <!-- top carousel  -->
    <div class="top-caro">
      <div class="row">
        <div class="col l12">
          <h1>title</h1>
          <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium possimus deleniti ipsam </h3>
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, quibusdam reiciendis? Iste voluptas, fuga vitae placeat eveniet maxime ex, commodi odio, dolorem magnam voluptatibus sed incidunt! Est dolores excepturi similique.</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis eligendi dolorum assumenda possimus maiores id alias veritatis corrupti ut</p>

        </div>

        
      </div>  

    </div>
    
    
    
    
    
    <img class="top-bg3" src="/assets/images/logo_shape/top{{color}}.svg" alt="">
    
    <img class="top-bg2" src="/assets/images/top_bg/bg_top2.svg" alt="">
   
   <div class="row">
     <div class="col l3 bg-color"> </div>
   </div>
   
   
    <div class="row scroll relative">
      
      <div class=" col mouse">
        <div class="scroll-animation"></div>
      </div>

    </div>
  </div>

</div>
</div>

<router-outlet></router-outlet>
