<!-- project section start page -->
<div class="container">
    <div class="row bg-p">
      <!--description projects   -->
      <div class="col l10 m12 s12">
        <!-- project Title heder  -->
        <h1 class="h-p">impulse</h1>
        <!-- project description  -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem
          consequuntur, sit ut sint numquam aliquid asperiores temporibus
          accusamus eligendi quia, quos enim nisi corporis praesentium rerum
          sapiente mollitia. Commodi!Lorem Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Tenetur aut minima animi harum officia ducimus eum
          commodi, possimus aspernatur vitae cum? Eos fugiat dolorum, officiis
          ducimus commodi voluptatibus accusamus vitae. Lorem ipsum dolor sit
          amet, consectetur adipisicing elit. Corporis sed ex explicabo recusandae
          hic quibusdam quo veniam vitae. Placeat rerum labore ullam cum sunt, eum
          alias quidem inventore voluptas odio! Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Blanditiis ratione dolores tenetur iusto
          architecto provident, quae veniam sit corporis, quis autem sint illo
          suscipit repellendus beatae eligendi dolorum, qui consequatur! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. A incidunt, aliquid
          eius quasi id nisi veniam iste non perferendis dolorem sit ea, nihil
          voluptate molestiae possimus hic voluptatum. Rem, ratione. Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Blanditiis dolore incidunt
          repudiandae dolor impedit modi facere, fugiat optio culpa unde eos magni
          animi laudantium delectus perspiciatis reiciendis, beatae asperiores
          officiis? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Veniam officiis illum quasi maxime eos quidem cupiditate nemo
          praesentium harum neque alias asperiores, mollitia rerum modi
          perspiciatis ratione sapiente nam fugiat? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Magni cupiditate quo assumenda praesentium
          ut, natus aut? Nulla corrupti nihil iure quam nisi cumque?
          Exercitationem facilis voluptatem esse suscipit omnis dolores. Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Provident tempore
          saepe alias perferendis fugit quidem, architecto illum, amet quaerat
          corporis tenetur in quas est, officia minima. Nam expedita
          necessitatibus officia!
        </p>
  
        <h3 class="h-p">blogs</h3>
        <!-- BLOGS related link section start -->
        <div class="row">
          <a href=""><h4>#</h4></a>
        </div>
        <!-- BLOGS related link section End -->
      </div>
      <!-- project image sections -->
      <div class="col l2 m12 s12 center-align">
        <img class="p-img" src="/assets/images/projects/p1.jpg" alt="" />
      </div>
    </div>
    <!-- project partners sections -->
  
    <div class="row p-d">
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
  
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
    </div>
    <div class="row p-d">
      <div class="col l2">
        <ul class="collapsible bg-border">
          <li>
            <div class="collapsible-header bg-p2">
              <img
                style="width: 50px"
                src="/assets/images/projects/part.svg"
                alt=""
              />
              <span class="m-left">partners</span>
            </div>
            <div class="collapsible-body bg-p2">
              <span
                >Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Ullam laborum, assumenda nam alias
                totam officia, quos ex, hic reiciendis ipsam non. Alias omnis
                ullam doloribus fugit molestiae numquam! Blanditiis, magnam?</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- carosel project section  -->
    <div class="row">
      <div class="col l12 m12 s12 relative">
        <div id="prev" class="pr">
          <img class="i" src="/assets/images/icons/per.svg" alt="" />
        </div>
        <div class="carousel center-align m">
          <div
            class="carousel-item style-caro2 center-align z-depth-3"
            href="#one!"
          >
            <h1 class="h-p">Impulse</h1>
            <img class="ball" src="assets/images/projects/o_ball.svg" alt="" />
            <span class="span_pad"
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt
              iure dolore tenetur, eos nobis cumque, inventore minus aut suscipit
              numquam explicabo?
            </span>
  
            <a [routerLink]="['/project',1]" class="waves-effect waves-light btn-small btn-cos">more</a>
          </div>
      
        </div>
        <div id="next" class="nxt">
          <img src="assets/images/icons/nxt.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- project section End page -->
