<!-- project section start page -->
<div class="container">

  <div class="row bg-p">
      <!--description projects   -->
      <div class="col l10 m10 s12  ">
        <!-- project Title heder  -->
        <h1 class="h-p">impulse</h1>
        <!-- social media link -->
        
        <img class="p" width="25px" src="/assets/images/Teams/Tw.svg" alt="">
        <img class="p"  width="25px" src="/assets/images/Teams/link.svg" alt=""><br>
        <!-- wesite link -->
        <a class="a-black"  href="">ww.hlahdakjdh</a>
        <!-- q link  -->
        <h5 class="blod4" > Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, fugit hic. Similique assumenda ea amet incidunt, enim velit odio quo perferendis sunt quibusdam nemo modi alias at quia nulla laudantium.?</h5>
        <!-- project description  -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem
          consequuntur, sit ut sint numquam aliquid asperiores temporibus
          accusamus eligendi quia, quos enim nisi corporis praesentium rerum
          sapiente mollitia. Commodi!Lorem Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Tenetur aut minima animi harum officia ducimus eum
          commodi, possimus aspernatur vitae cum? Eos fugiat dolorum, officiis
          ducimus commodi voluptatibus accusamus vitae. Lorem ipsum dolor sit
          amet, consectetur adipisicing elit. Corporis sed ex explicabo recusandae
          hic quibusdam quo veniam vitae. Placeat rerum labore ullam cum sunt, eum
          alias quidem inventore voluptas odio! Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Blanditiis ratione dolores tenetur iusto
          architecto provident, quae veniam sit corporis, quis autem sint illo
          suscipit repellendus beatae eligendi dolorum, qui consequatur! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. A incidunt, aliquid
          eius quasi id nisi veniam iste non perferendis dolorem sit ea, nihil
          voluptate molestiae possimus hic voluptatum. Rem, ratione. Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Blanditiis dolore incidunt
          repudiandae dolor impedit modi facere, fugiat optio culpa unde eos magni
          animi laudantium delectus perspiciatis reiciendis, beatae asperiores
          officiis? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Veniam officiis illum quasi maxime eos quidem cupiditate nemo
          praesentium harum neque alias asperiores, mollitia rerum modi
          perspiciatis ratione sapiente nam fugiat? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Magni cupiditate quo assumenda praesentium
          ut, natus aut? Nulla corrupti nihil iure quam nisi cumque?
          Exercitationem facilis voluptatem esse suscipit omnis dolores. Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Provident tempore
          saepe alias perferendis fugit quidem, architecto illum, amet quaerat
          corporis tenetur in quas est, officia minima. Nam expedita
          necessitatibus officia!
        </p>
  
        <h3 class="h-p">blogs</h3>
        <!-- BLOGS related link section start -->
        <div class="row">
          <a class="a-black"><h4>#</h4></a>
        </div>
        <!-- BLOGS related link section End -->
      </div>
      <!-- project image sections -->
      <div class="col l2 m12 s12 center-align relative">
        <img class="p-img" src="/assets/images/logo/Logo_IMPULSE.png" alt="" />
      </div>
    </div>
    <!-- project partners sections -->
  
    <div class="row p-d center-align">
      <div class="col l2">
        <h2>15</h2>
        <label for="">partner</label>
      </div>
  
      <div class="col l2">
        <h2>15</h2>
        <label for="">pilot</label>
      </div>
      <div class="col l2">
        <h2>15</h2>
        <label for="">country involved</label>
      </div>
   
    
   
    </div>

  <div class="row center-align ">
    <h4 class="h-p">Related path</h4>
        <!-- maxsimom 3 show -->

    <div class="col l3 z-depth-3 cost-card">
      <h4>Title</h4>
    <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
    <a   class="a-hov"><i class="small material-icons">arrow_forward</i></a>

    </div>
    
  </div>

  <!-- input post  -->
<div class="container center-align">
  <div class="row">
    <div class="col l12 top-post">
  
      <input type="text" class="costum-inp "> 
      <button class="cost-btn" ><i class="material-icons">mode_comment</i></button>
    </div>
  </div>
</div>



  <div class="container">
    <div class="row ">

   

      <div class="col l12 z-depth-3 cost-card2">
        <img src="/assets/images/icons/comment/profile.svg" width="50px" alt=""><label class="bold3"  for="">nome conghome </label>
        <span>2:30 PM</span>
        <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa enim inventore molestiae atque iure nostrum placeat, veniam nesciunt. Molestiae vel a repellat officia reprehenderit autem vitae repudiandae enim animi cumque?</p>
        <div class="box-like relative center-align">
          <div class="row">
            <div class="col l6">
              <i class="material-icons">thumb_up</i>
          <h6 class="like">3</h6>
            </div>
            <div class="col l6"></div>
            <i class="material-icons">thumb_down</i>
          <h6 class="like">3</h6>
          </div>
          
        </div>

  
      </div>
      
  
      


    </div>
  </div>
  
    
    
  </div>
  
    <div class="bc"><img class="" src="/assets/images/logo/logS.png" alt=""></div> 

  

<!-- side author start  ! -->
  <div class="side-autor p-d ">

    

    <img class="autor " src="/assets/images/logo/Logo_IMPULSE.png" >
    <div class="box-aut  ">
     
      <span class="bold">impulse</span> <br>
      <a class="a-black" >   <img class="p" width="25px" src="/assets/images/Teams/Tw.svg" alt=""></a>
      <a class="a-black" >   <img class="p" width="25px" src="/assets/images/Teams/link.svg" alt=""></a> <br>  

      
      <!-- wesite link -->
      <a class="a-black"  href="https://www.impulse-h2020.eu">www.impulse.eu</a><br>
      
    </div>
  
    <div class="box-like relative">
      <i class="material-icons">favorite_border</i>
      <h6 class="like-numb">312</h6>
    </div>


  </div>
  <!-- side bar author end ! -->
  <!-- project section End page -->
