<div class="container">
    <div class="row bg-p-t z-depth-3">
      <!-- desc section -->
      <div class="col l10">
        <div class="row">
          <h2 class="h-t">andrea</h2>
          <h5 class="h-t-d p">resercher</h5>
          <a href="">

            <img class="icons"src="/assets/images/Teams/ins.svg" alt="">
          </a>
          <a href="">


            <img class="icons"src="/assets/images/Teams/link.svg" alt="">
          </a>
          <a href="">

            <img class="icons"src="/assets/images/Teams/Tw.svg" alt="">
          </a>


        </div>



        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet repudiandae voluptatem tempora commodi, reiciendis itaque inventore dolorem sunt ex quibusdam ipsum tenetur maxime animi veniam libero magni autem, dicta perspiciatis.
        </p>
        <h4 class="h-t-d"> achivment </h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse dolorem blanditiis modi aut delectus ipsa voluptatem voluptates eos quis, rem, expedita explicabo non! Animi, fugit architecto itaque id blanditiis totam!</p>

      </div>
      <!-- image Team section  -->
      <div class="col l2">
        <img class="team-p" src="/assets/images/Teams/valeria_card.png" alt="">
      </div>

    </div>

    <div class="container row ">
      <h3  class="h-t-d">from Andrea</h3>
        <!--section relate  -->

        <div class="col l5 m5 s12 bg-p-d">
            <a href="">
              <h4 >The gender dimension in Situation Awareness</h4>
            </a>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla doloremque sapiente ad eligendi ex! Expedita illo laborum sint sapiente et praesentium, pariatur molestias?
            Ratione ab corporis iste praesentium et impedit.</p>
        </div>

    </div>

</div>
  <!-- carosel section team -->
<div class="row">
  <div class="col l12 m12 s12">

  </div>
</div>
<!-- team section page End  -->

