<div class="row bg-w ">
    <div class="col l2 m2 s2 bg-gray center-align z-depth-3">
      <h1 class="h1-cos2 rout"><a [routerLink]="['/blog']"  (click)="RoutF()"> Edits</a> </h1>
    </div>

    <div class="col l10 m12 s10 bg-ww">
      <div class="overF slider">
        <!-- first col -->

        <div class="col l3 m3 s12  center-align over-h">
          <div class="row">
            <div class="col l12 m12 s12">
              <a [routerLink]="['/blog']"><h4>The gender dimension in Situation Awareness</h4></a>
            </div>
          </div>
    
          <div class="row">
            <div class="col l6  m12 s12">
              <span
                >The need for the ASSISTANCE project within the European Union
                disaster recovery community  </span
              >
            </div>
            <div class="col l6 m12 s12">
              <img class="img-news" src="/assets/images/ethics/799.png" alt="" />
            </div>
    
         
          </div>
        </div>

        

      
        

      </div>
    </div>
  </div>

