<div class="row bg-w z-depth-3">
    <div class="col l2 m2 s2 bg-gray center-align z-depth-3">
      <h1 class="h1-cos2 rout">Edits</h1>
    </div>

    <div class="col l10 m12 s10 bg-ww">
      <div class="overF slider">
        <!-- first col -->

        <div class="col l3 m3 s6 center-align">
          <div class="card horizontal center-align">
            <div class="card-image">
              <img
                class="card-image"
                src="assets/images/ethics/back1_top.jpg"
              />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  I am a very simple card. I am good at containing small bits of
                  information.
                </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col l3 m3 s6 center-align">
          <div class="card horizontal center-align">
            <div class="card-image">
              <img
                class="card-image"
                src="assets/images/ethics/back1_top.jpg"
              />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  I am a very simple card. I am good at containing small bits of
                  information.
                </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 m3 s6 center-align">
          <div class="card horizontal center-align">
            <div class="card-image">
              <img
                class="card-image"
                src="assets/images/ethics/back1_top.jpg"
              />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  I am a very simple card. I am good at containing small bits of
                  information.
                </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 m3 s6 center-align">
          <div class="card horizontal center-align">
            <div class="card-image">
              <img
                class="card-image"
                src="assets/images/ethics/back1_top.jpg"
              />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  I am a very simple card. I am good at containing small bits of
                  information.
                </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 m3 s6 center-align">
          <div class="card horizontal center-align">
            <div class="card-image">
              <img
                class="card-image"
                src="assets/images/ethics/back1_top.jpg"
              />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  I am a very simple card. I am good at containing small bits of
                  information.
                </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 m3 s6 center-align">
          <div class="card horizontal center-align">
            <div class="card-image">
              <img
                class="card-image"
                src="assets/images/ethics/back1_top.jpg"
              />
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  I am a very simple card. I am good at containing small bits of
                  information.
                </p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

