<div class="container center-agline">
 <!-- top section -->

  <div class="row ">
   <div class="col l12">
     <h1 class="h-p">
       Project
     </h1>
     <p class="padding">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae ratione cupiditate aliquid dolorem enim debitis eum, mollitia iusto. Reiciendis ad veritatis quos est dolorum eum fugit quo nostrum! Beatae.</p>
   </div>
 </div>

<!-- variy project -->

  <div class="row p-b">
    <div class="col l4 m4 s4">
      <ul class="tabs">
        <li class="tab col l12 m12 s12 indic"><a href="#test1" class="p-s">all Project</a></li>

      </ul>
    </div>
    <div class="col l4 m4 s4">
      <ul class="tabs">
        <li class="tab col l12 m12 s12"><a class="p-s"href="#test1">recent Project</a></li>

      </ul>
    </div>
    <div class="col l4 m4 s4">
      <ul class="tabs">
        <li class="tab col l12 m12 s12"><a class="p-s" href="#test1">done Project</a></li>

      </ul>
    </div>


  </div>

<!-- card project -->

<div class="row ">
  <div class="col l3 m6 s12 relative z-depth-3">
    <div class="bc"><img class="bc" src="/assets/images/logo/logS.png" alt=""></div>
    <h3 class="h-p">Title</h3>
    <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
    <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a>
  </div>

 
</div>


</div>
