<div class="container center-agline">
 <!-- top section -->

  <div class="row  ">
   <div class="col l12 ">
    
    <div class="c-h center line">
      <h3 class="h-p" id="pro">
         Project
       </h3>

    </div>
    <div class="line">

      <h4> Our public sector research for the European Commission and beyond</h4>
      <h5>Our holistic vision puts together human and scientific capabilities to propose solutions to human problems that are better, smarter, and respectful of human rights</h5>
      <h6 class="padding">Explore the projects in which we have applied our methodologies for assessing social acceptance, favouring participatory approaches, conducting gender analyses, and more.</h6>
    </div>
   </div>
 </div>

<!-- variy project -->

  <div class="row p-b">
    <div class="col l4 m4 s4">
      <ul class="tabs">
        <li class="tab col l12 m12 s12 indic"><a href="#test1" class="p-s">all Project</a></li>

      </ul>
    </div>
    <div class="col l4 m4 s4">
      <ul class="tabs">
        <li class="tab col l12 m12 s12"><a class="p-s"href="#test1">recent Project</a></li>

      </ul>
    </div>
    <div class="col l4 m4 s4">
      <ul class="tabs">
        <li class="tab col l12 m12 s12"><a class="p-s" href="#test1">done Project</a></li>

      </ul>
    </div>


  </div>

<!-- card project -->

<div class="row ">
  <div class="col l3 m6 s12 relative z-depth-3 p" *ngFor="let proj of project">
    <div class="bc"><img class="bc" src="/assets/images/logo/logS.png" alt=""></div>
    <h4>{{proj.name}}</h4>
    <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
    <a [routerLink]="['/project',proj.id]"  class="a-hov"><i class="small material-icons">arrow_forward</i></a>
  </div>

 
</div>



<!-- pages radio btn control start  -->
<div class="row center">

  <div class="col l12 center">

    <div class="bt">
      
      <label  >
        
          <input class="with-gap" name="group3" type="radio" value="0" (click)="val($any($event.target).value)" checked />
          <span></span>
      
        
      </label>

    

      
    </div>
    
    <h5>{{v}}</h5>
  </div>

</div>
<!-- pages radio btn control End  -->


</div>
