  <!-- teams section start -->
  <div class="row bg-teams z-depth-3">
    <div class="col l2 m2 s2 bg-gray center-align z-depth-3">
      <h1 class="h1-cos2 rout"><a [routerLink]="['/Team']"> Teams</a> </h1>
    </div>
    <div class="col l10 m10 s10 overF">
      <div class="row center">
        <div class="col l3">
          <img class="team-p" [routerLink]="['/Team', 0]" src="/assets/images/Teams/valeria_card.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- teams section end -->