<div class="fluid-container">
  <!-- test -->

  <!-- header section start -->
  <div class="row" id="header">
    <div class="col l4 m4 s4">
      <img
        src="assets/images/logo_shape/topy.svg"
        class="w100"
        id="shapeheader"
        alt=""
      />
    </div>
    <div class="col l4 m4 s4">
      <img
        src="assets/images/heder_back/lamp.svg"
        class="w100"
        id="lampheader"
        alt=""
      />
    </div>

    <div class="col l4 m4 s4 relative" id="toprightheader">
      <div class="transbox">
        <img
          class="en"
          src="assets/images/icons/translate/en_icon_a.svg"
          alt=""
        />
        <img
          class="it"
          src="assets/images/icons/translate/it_icon_d.svg"
          alt=""
        />
      </div>

      <a class="btn-floating btn-large waves-effect waves-light  z-depth-3" id="menu"
        ><i class="material-icons">menu</i></a
      >
    </div>
  </div>

  <!--  ////////////////////////////////////////////////inja moshkel daraaaammm //////////////////////////////////////////////////////////////// -->
  <div class="row">
    <div class="col l5">
      <!--  -->
      <div class="row" >
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Test 1</a></li>
            <li class="tab col s3">
              <a class="active" href="#test2">Test 2</a>
            </li>
            <li class="tab col s3">
              <a href="#test3">Disabled Tab</a>
            </li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
      </div>
      <!--  -->
    </div>
    <div class="col l7 m12 s12">
      <img src="assets/images/logo/logo_top.svg" id="logoheader" alt="" />
      <img
        src="assets/images/heder_back/top_bgb.png"
        id="backheader"
        class="w100"
        alt=""
      />
    </div>
  </div>

  <!--  ////////////////////////////////////////////////inja moshkel daraaaammm //////////////////////////////////////////////////////////////// -->

  <!-- header section end -->


  <!-- project section start -->
  <div class="row bg-dark z-depth-3">
    <!-- title section  -->
    <div class="col l2 m2 s2 bg-gray center-align ">
      <h1 class="h1-cos2 rout">projects</h1>
    </div>

    <!-- carosel section -->
    <div class="col l10 m10 s10">
      <div class="carousel center-align m">
        <div class="carousel-item style-caro center-align z-depth-3" href="#one!">
          <h1 class="h1-cos">Impulse</h1>
          <span for="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt
          iure dolore tenetur, eos nobis cumque, inventore minus aut suscipit
          numquam explicabo? Maiores iure veritatis neque iste sit,
          necessitatibus accusantium praesentium.</span>

          <a class="waves-effect waves-light btn-small btn-cos">more</a>

        </div>


      </div>
    </div>
  </div>

  <!-- project section end -->

  <!-- news section start -->
  <div class="row bg-w z-depth-3">

    <div class="col l2 m2 s2 bg-gray center-align z-depth-3 ">
      <h1 class="h1-cos2 rout">Edits</h1>
    </div>
    <div class="col l1"></div>
    <div class="col l9 m10 s10 bg-ww z-depth-3">
      <div class="overF">
        <!-- first col -->

        <div class="col l6 s16 center-align ">

          <div class="card horizontal center-align ">
            <div class="card-image">
              <img class="card-image" src="assets/images/ethics/back1_top.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>

        </div>

        <!-- 2th col -->

        <div class="col l6 s16 m7 center-align ">

          <div class="card horizontal center-align ">
            <div class="card-image">
              <img class="card-image" src="assets/images/ethics/back1_top.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>


          <div class="card horizontal center-align ">
            <div class="card-image">
              <img class="card-image" src="assets/images/ethics/back1_top.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>


          <div class="card horizontal center-align ">
            <div class="card-image">
              <img class="card-image" src="assets/images/ethics/back1_top.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>


          <div class="card horizontal center-align ">
            <div class="card-image">
              <img class="card-image" src="assets/images/ethics/back1_top.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>


        </div>


      </div>
    </div>

  </div>

  <!-- news section end -->



  <!-- service section start -->
  <div class="row">
    <div class="col l3 m3 s6">
      <img class="service-logo"  src="assets\images\logo_shape\logo_shape_services.svg" alt="">

    </div>
    <div class="col l6 m6 s6 center-align">

      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>
      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>
      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>

      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>
      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>
      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>
      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>
      <ul class="collapsible col-bg-hd m7 ">
        <li>
          <div class="collapsible-header col-bg"><i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body col-rad"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>

      </ul>


    </div>
    <div class="col l3 m4 ">
      <img  class="service-logo2" src="assets\images\logo_shape\logo_shape_services2.svg" alt="">
    </div>
  </div>

  <!-- service section end -->

  <!-- teams section start -->
  <div class="row"></div>

  <!-- teams section end -->

  <!-- work with us section start -->
  <div class="row"></div>

  <!-- work with us section end -->

  <!-- footer section start -->
  <div class="row"></div>

  <!-- footer section end -->
</div>
