<div class="fluid-container">






  <!-- header section start -->
  <div class="row" id="header">
    <div class="col l4 m4 s4">
      <img src="assets/images/logo_shape/topo.svg" class="w100" id="shapeheader" alt="">
    </div>
    <div class="col l4 m4 s4">
      <img src="assets/images/heder_back/lamp.svg" class="w100" id="lampheader" alt="">
    </div>

    <div class="col l4 m4 s4 relative" id="toprightheader">
      <div class="transbox">
        <img class="en" src="assets/images/icons/translate/en_icon_a.svg" alt="">
        <img class="it" src="assets/images/icons/translate/it_icon_d.svg" alt="">
      </div>

      <a class="btn-floating btn-large waves-effect waves-light red" id="menu"><i class="material-icons">menu</i></a>
    </div>
  </div>
  <div class="row">
    <div class="col l4">
      <!--  -->
      <div class="row" style="display: none;">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Test 1</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
            <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
      </div>
      <!--  -->
    </div>
    <div class="col l8 m12 s12">
      <img src="assets/images/logo/logo_top.svg" id="logoheader" alt="">
      <img src="assets/images/heder_back/top_bgb.png" id="backheader" class="w100" alt="">
    </div>

  </div>
  <!-- header section end -->


  <!-- project section start -->
  <div class="row">

  </div>

  <!-- project section end -->

  <!-- news section start -->
  <div class="row">

  </div>

  <!-- news section end -->

  <!-- service section start -->
  <div class="row">
    <div class="col l3"></div>
    <div class="col l6"></div>
    <div class="col l3"></div>
  </div>

  <!-- service section end -->

  <!-- teams section start -->
  <div class="row">

  </div>

  <!-- teams section end -->

  <!-- work with us section start -->
  <div class="row">

  </div>

  <!-- work with us section end -->

  <!-- footer section start -->
  <div class="row">

  </div>

  <!-- footer section end -->




</div>