<div class="row bg-dark z-depth-3">
    <!-- title section  -->
    <div class="col l2 m2 s2 bg-gray center-align z-depth-3">
      <h1 class="h1-cos2 rout">projects</h1>
    </div>
  
    <!-- carosel section -->
    <div class="col l10 m10 s10">
      <div class="carousel center-align m">
        <div class="carousel-item style-caro center-align z-depth-3" href="#one!">
          <h1 class="h1-cos">Impulse</h1>
          <img class="ball" src="assets/images/projects/o_ball.svg" alt="" />
          <span class="span_pad"
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt
            iure dolore tenetur, eos nobis cumque, inventore minus aut suscipit
            numquam explicabo?
          </span>
  
          <a class="waves-effect waves-light btn btm-sub btn-bg"
            ><i class="material-icons right">navigate_next</i>More</a
          >
        </div>
      </div>
    </div>
  </div>
  