<div class="container ">
  <!-- top section -->

  <div class="row ">
    <div class="col l12 ">
     
     <div class="c-h center line">
       <h3 class="h-p2">
          Product
        </h3>
 
     </div>
     <div class="line">
 
       <h4> Our public sector research for the European Commission and beyond</h4>
       <h5>Our holistic vision puts together human and scientific capabilities to propose solutions to human problems that are better, smarter, and respectful of human rights</h5>
       <h6 class="padding">Explore the projects in which we have applied our methodologies for assessing social acceptance, favouring participatory approaches, conducting gender analyses, and more.</h6>
     </div>
    </div>
  </div>
 



  <!-- card Product -->

  <div class="row relative z-depth-3 p-b">
    <div class="col l6 m6 s12">
      <h3 class="h-p">Books</h3>
      <img class="product-img" src="/assets/images/products/b.png" alt="" />
      <!-- <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>

    <div class="col l6 m6 s12 center">
      <ul class="collapsible col-bg-hd m7 center">
        <li>
          <div class="collapsible-header col-bg orange center">
            <span for="">first book</span>
          </div>
          <div class="collapsible-body col-rad">
            <h3 class="h-p">Title</h3>
            <p class="cos">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              nobis enim sint natus asperiores sunt debitis eum aut numquam
            </p>
            <a href="" class="a-hov"
              ><i class="small material-icons">arrow_forward</i></a
            >
          </div>
        </li>
      </ul>

      <!--   <h3 class="h-p">Title</h3>
        <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
        <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>
  </div>


  <div class="row relative z-depth-3 p-b">
    <div class="col l6 m6 s12">
      <h3 class="h-p">Software</h3>
      <img class="product-img"src="/assets/images/products/s.png" width="500px" alt="" />
      <!-- <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>

    <div class="col l6 m6 s12 center">
      <ul class="collapsible col-bg-hd m7 center">
        <li>
          <div class="collapsible-header col-bg orange center">
            <span for="">first Software</span>
          </div>
          <div class="collapsible-body col-rad">
            <h3 class="h-p">Title</h3>
            <p class="cos">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              nobis enim sint natus asperiores sunt debitis eum aut numquam
            </p>
            <a href="" class="a-hov"
              ><i class="small material-icons">arrow_forward</i></a
            >
          </div>
        </li>
      </ul>

      <!--   <h3 class="h-p">Title</h3>
        <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
        <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>
  </div>
</div>
