<div class="container center-agline">
  <!-- top section -->

  <div class="row">
    <div class="col l12">
      <h1 class="h-p">products</h1>
      <p class="padding">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic beatae
        ratione cupiditate aliquid dolorem enim debitis eum, mollitia iusto.
        Reiciendis ad veritatis quos est dolorum eum fugit quo nostrum! Beatae.
      </p>
    </div>
  </div>



  <!-- card Product -->

  <div class="row relative z-depth-3 p-b">
    <div class="col l6 m6 s12">
      <h3 class="h-p">Books</h3>
      <img class="product-img" src="/assets/images/products/b.png" alt="" />
      <!-- <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>

    <div class="col l6 m6 s12 center">
      <ul class="collapsible col-bg-hd m7 center">
        <li>
          <div class="collapsible-header col-bg orange center">
            <span for="">first book</span>
          </div>
          <div class="collapsible-body col-rad">
            <h3 class="h-p">Title</h3>
            <p class="cos">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              nobis enim sint natus asperiores sunt debitis eum aut numquam
            </p>
            <a href="" class="a-hov"
              ><i class="small material-icons">arrow_forward</i></a
            >
          </div>
        </li>
      </ul>

      <!--   <h3 class="h-p">Title</h3>
        <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
        <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>
  </div>


  <div class="row relative z-depth-3 p-b">
    <div class="col l6 m6 s12">
      <h3 class="h-p">Software</h3>
      <img class="product-img"src="/assets/images/products/s.png" width="500px" alt="" />
      <!-- <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>

    <div class="col l6 m6 s12 center">
      <ul class="collapsible col-bg-hd m7 center">
        <li>
          <div class="collapsible-header col-bg orange center">
            <span for="">first Software</span>
          </div>
          <div class="collapsible-body col-rad">
            <h3 class="h-p">Title</h3>
            <p class="cos">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
              nobis enim sint natus asperiores sunt debitis eum aut numquam
            </p>
            <a href="" class="a-hov"
              ><i class="small material-icons">arrow_forward</i></a
            >
          </div>
        </li>
      </ul>

      <!--   <h3 class="h-p">Title</h3>
        <p class="cos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nobis enim sint natus asperiores sunt debitis eum aut numquam</p>
        <a href="" class="a-hov"><i class="small material-icons">arrow_forward</i></a> -->
    </div>
  </div>
</div>
