<!-- edit section  p start  -->
<div class="relative"></div>
<!-- top part dvd start section p edits -->
<nav class="p-fix">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="logo" src="/assets/images/logo/logS.png" alt=""></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>     <a
        class="btn-floating btn-large waves-effect waves-light z-depth-3"
        id="menu"
        ><i class="material-icons">menu</i></a
      ></li>
   
    </ul>
  </div>
</nav>

<div class="parallax-container">
  <div class="parallax"><img src="/assets/images/ethics/TOP.png" /></div>
</div>
<!-- search blogs section start  -->
<div class="form section white">
  <div class="row">
    <div class="col l12 m12 s12 center-align">
      <div class="row">
        <!-- titel search  -->
        <div class="input-field col l2">
          <i class="material-icons prefix">title</i>
          <input id="icon_title" type="text" class="validate costum-inp" />
          <!-- cos input -->
          <label class="cost-lb" for="icon_title">Title</label>
        </div>
        <!-- topic search -->
        <div class="input-field col l2">
          <i class="material-icons prefix">t</i>
          <input id="icon_t" type="text" class="validate costum-inp" />
          <!-- cos input -->
          <label class="cost-lb" for="icon_t">Topic</label>
        </div>

        <div class="input-field col l2">
          <i class="material-icons prefix">t</i>
          <input id="icon_t2" type="text" class="validate costum-inp" />
          <!-- cos input -->
          <label class="cost-lb" for="icon_t2">tags</label>
        </div>
        <div class="input-field col l2">
          <a class="waves-effect waves-light btn btm-sub btn-bg">
            <i class="material-icons right"> search</i>search</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- search blogs section End  -->

<!-- news section all strt -->
<div *ngIf="true" class="section white relative">
  <!-- Last news section start -->

  <div class="row ">
    <div class="col l12 m12 s12 line">
      <div class="c-h center">
        <h3 class="h-p">
           last news
         </h3>
  
      </div>
    </div>
  </div>
  <div class="row">
    <!-- last news ngfor Start  -->
    <div class="col l3 m6 s12 relative">
      <div class="row">
        <div class="col l12 m12">
          <h4>The gender dimension in Situation Awareness</h4>
        </div>
      </div>

      <div class="row">
        <div class="col l6 m12 s12">
          <img width="200px" src="/assets/images/ethics/799.png" alt="" />
        </div>

        <div class="col l6 m12 s12">
          <span
            >The need for the ASSISTANCE project within the European Union
            disaster recovery community</span
          >
        </div>
      </div>
    </div>
    <!-- last news ngfor End  -->

    <!-- Last news section End -->
  </div>
  <!-- Last news section start -->
  <!-- popular news start  -->
  <div class="row ">
    <div class="col l12 m12 s12 line">
      <div class="c-h center">
        <h3 class="h-p">
           Popular news
         </h3>
  
      </div>
    </div>
  </div>
  <div class="row ">
    <!-- last news ngfor Start  -->
    <div class="col l3 m6 s12 relative">
      <div class="row">
        <div class="col l12">
          <h4>The gender dimension in Situation Awareness</h4>
        </div>
      </div>

      <div class="row">
        <div class="col l6">
          <img width="200px" src="/assets/images/ethics/799.png" alt="" />
        </div>

        <div class="col l6">
          <span
            >The need for the ASSISTANCE project within the European Union
            disaster recovery community</span
          >
        </div>
      </div>
    </div>
    <!-- last news ngfor End  -->

    <!-- Last news section End -->
  </div>

  <div class="row center">
    <div class="col l12 m12 s12 line">
      <div class="c-h center">
        <h3 class="h-p">
           All news
         </h3>
  
      </div>
    </div>
  </div>
  <div class="row">
    <!-- last news ngfor Start  -->
    <div class="col l3 m6 s12 relative">
      <div class="row">
        <div class="col l12">
          <h4>The gender dimension in Situation Awareness</h4>
        </div>
      </div>

      <div class="row">
        <div class="col l6">
          <img width="200px" src="/assets/images/ethics/799.png" alt="" />
        </div>

        <div class="col l6">
          <span
            >The need for the ASSISTANCE project within the European Union
            disaster recovery community</span
          >
        </div>
      </div>
    </div>
    <!-- last news ngfor End  -->

    <!-- Last news section End -->
  </div>
  <div class="row center-align">
    
      <label>
        <input class="with-gap" name="group3" type="radio" checked />
        <span></span>
      </label>
    
  </div>

  <!-- popular news End  -->
<!-- media -->
<div class="row center">
  <div class="col l12 m12 s12 line">
    <div class="c-h center">
      <h3 class="h-p">
         Media
       </h3>

    </div>
  </div>
</div>
<div class="row">
  <div class="col l3 relative" style="padding-top: 20px;">
    <div class="row">
      <div class="col l6"><iframe width="200"  src="https://www.youtube.com/embed/mSGQuppqPqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <div class="col l6">
        <h5>title </h5></div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. .</p>
    </div>
    
    
  </div>
  

  
  
</div>
  <!-- news section all End -->

  <!-- section news detail start  -->
  <div *ngIf="false" class="section white p-t">
    <div class="container">
      <div class="row">
        <div class="col l7">
          <h1>title card</h1>
          <h5>published by <a class="a-hov" href="">admin</a></h5>
          <!-- tags section cost -->
          <div class="row p-t">
            <div class="col l3 m3 s12">
              <ul class="tabs">
                <li class="tab col l12 m12 s12">
                  <a class="p-s" href="#test1">tag</a>
                </li>
              </ul>
            </div>
            <div class="col l6 m6 s6">
              <ul class="tabs">
                <li class="tab col l12 m12 s12">
                  <a class="p-s" href="#test1">tag</a>
                </li>
              </ul>
            </div>
            <div class="col l3 m3 s6">
              <ul class="tabs">
                <li class="tab col l12 m12 s12">
                  <a class="p-s" href="#test1">tag</a>
                </li>
              </ul>
            </div>
          </div>
          <h3>subject</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
            inventore tenetur, quisquam nisi id quasi deleniti ullam nobis
            aliquam placeat eius quaerat, odit illum earum corrupti repudiandae
            facere ab cumque. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Eum quam saepe, inventore minima numquam non animi
            quos repellat natus aliquid facilis neque, mollitia, id incidunt
            optio aperiam officia voluptatum vel. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quibusdam iusto possimus, illo soluta,
            debitis laudantium consequatur quaerat tenetur impedit est officiis,
            architecto quia unde maiores nam aperiam at consequuntur distinctio!
          </p>
        </div>
        <div class="col l5">
          <img class="img-s" src="/assets/images/ethics/back.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- section news detail End -->

  <!-- down part dvd p Edits -->

  <!-- edit sectin p End -->
</div>


