<!-- edit section  p start  -->

<!-- top part dvd start section p edits -->
<div class="parallax-container">
    <div class="parallax"><img src="/assets/images/ethics/TOP.png"></div>
  </div>
  <!-- search blogs section start  -->
  <div class="form section white">
    <div class="row">
      <div class="col l12 m12 s6 center-align">
     <div class="row">
       <!-- titel search  -->
       <div class="input-field col l2">
  
          <i class="material-icons prefix">title</i>
            <input id="icon_title" type="text" class="validate costum-inp"> <!-- cos input -->
          <label class="cost-lb" for="icon_title">Title</label>
  
       </div>
       <!-- topic search -->
       <div class="input-field col l2 ">
        <i class="material-icons prefix">t</i>
        <input id="icon_t" type="text" class="validate costum-inp"> <!-- cos input -->
      <label class="cost-lb" for="icon_t">Topic</label>
       </div>
       <div class="input-field col l2 ">
  
        <a class="waves-effect waves-light btn btm-sub btn-bg">
          <i class="material-icons right">
            search</i>search</a>
       </div>
  
  
     </div>
      </div>
    </div>
  
  </div>
  <!-- serch blogs section End  -->
  
  <!-- news section strt -->
  <div class="section white container">
    <div class="row container">
      <div class="col l4">
        <div class="card">
  
            <div class="card-image waves-effect waves-block waves-light" >
              <img class="activator"   src="/assets/images/ethics/back.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator with-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
              <a href="" class="a-hov">More<i class="small material-icons">arrow_forward</i></a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
  
    </div>
  </div>
  <!-- news section End -->
  
  <!-- down part dvd p Edits -->
  <div class="parallax-container">
    <div class="parallax"><img src="/assets/images/ethics/dc.png"></div>
  </div>
  
  
  <!-- edit sectin p End -->
  