
  <div class="container p-b">
      <div class="row ">
          <div class="col l12 ">
           
           <div class="c-h center line">
             <h3 class="h-p">
                team
              </h3>
       
           </div>
           <div class="line">
       
             <h4> Our public sector research for the European Commission and beyond</h4>
             <h5>Our holistic vision puts together human and scientific capabilities to propose solutions to human problems that are better, smarter, and respectful of human rights</h5>
             <h6 class="padding">Explore the projects in which we have applied our methodologies for assessing social acceptance, favouring participatory approaches, conducting gender analyses, and more.</h6>
           </div>
          </div>
        </div>

  </div>

  <div class="row center">
    <!-- ng for Team section -->
      <div class="col l3 m4 s12" *ngFor="let Team of Teams">
        <h5>{{Team.achievement}}</h5> <!-- Test -->
        <a [routerLink]="['/Team', Team.id]"><img width="250px" src="/assets/images/Teams/valeria_card.png" alt=""></a> 
      </div>

    


  </div>