/* You can add global styles to this file, and also import other style files */

@import "materialize-css/dist/css/materialize.css";


body{

  overflow-x: hidden !important;
}


.row {
  padding: 0 !important;
}

label
{
  font-size: 1.3rem !important;
  color: #0d1113 !important;
  font-weight: 600;
}
