/* You can add global styles to this file, and also import other style files */

@import "materialize-css/dist/css/materialize.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
a{
  transition: all .3s ease-in-out !important;
  text-transform: capitalize !important;
}
body{

  overflow-x: hidden !important;
}

.btn-bg{
  background-color: orange !important;
}

.row {
  padding: 0 !important;
  margin: 0px !important;
}

label
{
  font-size: 1.3rem !important;
  color: #0d1113 !important;
  font-weight: 600;
}
